<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <directoryBrowse enabled="false" />

        <defaultDocument>
            <files>
                <clear />
                <add value="index.js" /> 
            </files>
        </defaultDocument>

        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>

        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="Root-Path-Handler" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="server.js" />
                </rule>

                <rule name="NextJsRoutes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>

        <iisnode 
          node_env="production" 
          loggingEnabled="true" 
          devErrorsEnabled="true" 
          logDirectory="iisnode"
          debuggingEnabled="true"
          nodeProcessCountPerApplication="1"
          maxConcurrentRequestsPerProcess="1024"
          maxNamedPipeConnectionRetry="100"
          namedPipeConnectionRetryDelay="250"
          maxNamedPipeConnectionPoolSize="512"
          maxNamedPipePooledConnectionAge="30000"
          asyncCompletionThreadCount="0"
          initialRequestBufferSize="4096"
          maxRequestBufferSize="65536"
          watchedFiles="*.js;*.json"
          uncFileChangesPollingInterval="5000"
          gracefulShutdownTimeout="60000"
          enableXFF="true"
        />
    </system.webServer>
</configuration>
